MODEL = minimax/minimax-m2.5

# Default store dir 
INFO_DIR = ./.person
OPENAI_BASE_URL = http://127.0.0.1:8080/v1

OPENAI_API_KEY = sk-xxxxx

# For Mistral OCR API for paper skills
MISTRAL_API_KEY = 